<!--
  NOTE: Bootstrap 5 Navbar with dynamic values using EJS
  File: views/partials/navbar.ejs (recommended for modularity)
-->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <!-- TODO: Display dynamic site name using EJS -->
    <a class="navbar-brand" href="#"><%= siteName %></a>

    <!-- Button for collapsing navbar on smaller screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Navigation links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- ACTIVE link: Home -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <!-- Basic link -->
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

        <!-- Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">

            <!-- 
              HACK: Injecting dynamic array value (arr[0]) 
              from server-side into dropdown
            -->
            <li>
              Value is <%= arr[0] %>
              <a class="dropdown-item" href="#">Action</a>
            </li>

          </ul>
        </li>

        <!-- Disabled link -->
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>

      </ul>

      <!-- Search bar using dynamic placeholder text -->
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search"
          placeholder="<%= searchText %>" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>
